@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-Black.woff2') format('woff2'),
  url('../fonts/PPMonumentExtended-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-RegularItalic.woff2') format('woff2'),
  url('../fonts/PPMonumentExtended-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-Light.woff2') format('woff2'),
  url('../fonts/PPMonumentExtended-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-BlackItalic.woff2') format('woff2'),
  url('../fonts/PPMonumentExtended-BlackItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-Regular.woff2') format('woff2'),
  url('../fonts/PPMonumentExtended-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-LightItalic.woff2') format('woff2'),
  url('../fonts/PPMonumentExtended-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@import "default";

$debug_bg: rgba(255, 255, 255, 0.1);

body {
  background-color: $black;
  color: $white;

  //font-weight: 300;
  font-family: "Wix Madefor Text", sans-serif;
  //letter-spacing: 0.08em;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section-wrapper {

  //min-height: 100vh;
  display: flex;
  background-color: $blue_dark;
  opacity: 0; /* Stato iniziale nascosto */
  transition: all 0.4s;

  &.active {
    background-color: $blue_dark;
    // background-color: rgba(255,255,255,0.5);
  }

  ///DEBUG
  //> *{
  //  margin: 30px 0 ;
  //}

  /*min-height: 60vh;

  .container {
    border: solid 1px $debug_bg;

  }

  .row {
    min-height: 60vh;

    &, & > * {
      background-color: $debug_bg;
      border: solid 1px $debug_bg;
    }
  }*/

}

/**
-----------------------------------------
 */

//.min-vh-100 {
//  min-height: 100vh;
//}
.col-md-20perc{
  @extend .col;
  @include media-breakpoint-up(md) {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.col-md-33perc{
  @extend .col;
  @include media-breakpoint-up(md) {
    flex: 0 0 33.33344%;
    max-width: 33.33344%;
  }
}
.col-md-50perc{
  @extend .col;
  @include media-breakpoint-up(md) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/**
=============== responsive font size
 */
.title-font {
  font-family: 'PP Monument Extended', 'sans-serif';
}

.tbase {
  font-size: 16px;
  line-height: 24px;
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
    line-height: 28px;
  }
}

.t2 {
  font-size: 36px;
  line-height: 36px;
  @include media-breakpoint-up(xxl) {
    font-size: 56px;
    line-height: 56px;
  }
}
.t2b {
  font-size: 28px;
  line-height: 30px;
  @include media-breakpoint-up(xxl) {
    font-size: 36px;
    line-height: 36px;
  }
}
.t3 {
  font-size: 20px;
  line-height: 22px;
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 26px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 28px;
    line-height: 30px;
  }
}

h1, h2, h3 {
  @extend .title-font;
  font-weight: 200;
}

body {
  @extend .tbase;
}

#mxr-logo {
  position: relative;
  margin-bottom: $spacer*2;

  h1 {
    overflow: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }

  svg {
    width: 100%;
    height: auto;
  }

  path {
    fill: $white;
  }
}


/**
=== PRETITLE
 */
.pretitle {
  position: relative;
  @extend .tbase;
  font-weight: bold;
  color: $azure_light;

  display: block;
  word-wrap: break-word;
  padding-bottom: 10px;
  margin-bottom: $spacer*2;

  &:before {
    content: '';
    width: 275px;
    height: 1px;
    background-color: $azure_light;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  &:after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: $white;
    left: -62px;
    bottom: 0;
    position: absolute;
  }
}

/**
=== summary
 */
.summary {
  position: relative;
  margin-bottom: $spacer*2;
}

$entry_indent: $spacer*4;
.entry {
  padding-bottom: $spacer*5;

  > p {
    padding-left: $entry_indent;
    margin-bottom: $spacer*2;
  }
}

/**
=== cta
 */
.cta-button {
  display: inline-flex;

  .label {
    display: block;
    padding: 10px 10px 10px $entry_indent;
    text-decoration: none;
    text-transform: uppercase;
    border-top: solid 1px $azure_light;
    color: $azure_light;
    font-weight: bold;
    @extend .title-font;
    position: relative;

    &:before {
      content: '';
      width: $entry_indent;
      height: 4px;
      background-color: $white;
      left: 0;
      top: -6px;
      position: absolute;
      opacity: 0.2;
    }

    &:after {
      content: '';
      width: 4px;
      height: 4px;
      background-color: $white;
      left: -7px;
      top: -6px;
      position: absolute;
      opacity: 0.2;
    }
  }

  svg {
    width: 48px;
    height: auto;

    path {
      stroke: $azure_light;
      stroke-width: 2;
    }
  }
}

.main-title {
  text-transform: uppercase;
  @extend .t2;
  margin-bottom: $spacer*2;
}

/**
=== simple list
 */
.simple-list {
  list-style: none;
  margin: 0 0 $spacer*2 0;
  padding: 0;

  li {
    padding-left: $entry_indent;
    margin-bottom: $spacer;
    display: flex;
    align-items: flex-start;

    svg {
      fill: $azure_light;
      width: 17px;
      height: auto;
      margin-right: 10px;
      margin-top: 5px;
    }

    span {
      display: block;
    }
  }
}

/**
=== teaser 1
 */
.teaser-list-1 {
  padding-bottom: $spacer*2;
  @extend .row;

  .teaser {
    padding: $spacer;
    display: flex;

    svg {
      fill: $azure_light;
      width: 100%;
      height: auto;
      opacity: 0.5;
      @include media-breakpoint-up(sm) {
        width: 300px;
        height: auto;
        margin-right: 5px;
      }
    }

    .teaser-entry {

      h4 {
        @extend .t3;
        @extend .title-font;
        padding: $spacer 0 $spacer $entry_indent/2;
        border-left: solid 4px $azure_light;
        text-transform: uppercase;
        font-weight: 400;
        color: $azure_light;
      }

      p {
        padding-left: $entry_indent/2+4px;
      }
    }
  }
}

/**
=== teaser 2
 */
.teaser-list-2 {
  padding-bottom: $spacer*2;
  @include media-breakpoint-up(md) {
    padding-top: 30vh;
  }

  .teaser {
    @include media-breakpoint-up(sm) {
      display: flex;
    }
    padding-bottom: $spacer*4;

    svg {
      fill: $azure_light;
      width: 50%;
      height: auto;
      opacity: 0.5;
      @include media-breakpoint-up(sm) {
        width: 300px;
        height: auto;
        margin-right: 5px;
      }
    }

    .teaser-entry {
      h3 {
        @extend .t2;
        @extend .title-font;
        padding: $spacer*2 0 $spacer*2 $entry_indent/2+4px;
        text-transform: uppercase;
        font-weight: 200;
        color: $white;
      }

      h4 {
        @extend .t3;
        @extend .title-font;
        padding: $spacer 0 $spacer $entry_indent/2;
        border-left: solid 4px $azure_light;
        text-transform: uppercase;
        font-weight: 400;
        color: $azure_light;
      }

      p {
        padding-left: $entry_indent/2+9px;
      }
    }

    .teaser-header {
      border-left: solid 1px $white;
      padding-left: 5px;
    }
  }
}

/**
=== teaser 3
 */
.teaser-list-3 {
  padding-bottom: $spacer*2;

  @extend .row;

  .teaser {

    padding-bottom: $spacer*2;

    svg {
      fill: $azure_light;
      width: 100%;
      height: auto;
      opacity: 0.5;
    }

    .teaser-header {
      position: relative;
      z-index: 5;
      padding-left: $entry_indent/2;
    }

    .teaser-image {
      margin-top: -$spacer*2;
      margin-bottom: $spacer*2;
    }
    h3 {
      @extend .t2b;
      @extend .title-font;
      padding: $spacer*2 0 $spacer*4 $entry_indent/2+4px;
      text-transform: uppercase;
      font-weight: 200;
      color: $white;
      border-left: solid 1px $white;
      display: block;
    }

    h4 {
      @extend .tbase;
      @extend .title-font;
      text-transform: uppercase;
      font-weight: 400;
      color: $azure_light;
    }

    p {
      padding-left: $entry_indent/2+9px;
      padding-right: $entry_indent/2+9px;
    }


  }
}

/**
=== teaser 4
 */
.teaser-list-4 {
  padding-bottom: $spacer*2;

  @extend .row;

  .teaser {

    padding-bottom: $spacer*2;

    svg {
      fill: $azure_light;
      width: 100%;
      height: auto;
      opacity: 0.5;
    }
    .teaser-image {
      margin-bottom: $spacer*2;
    }

    .teaser-header {
      position: relative;
      z-index: 5;
      padding-left: 2px;
      border-left: solid 1px $white;
      padding-top: $spacer*8;
      margin-top: -$spacer*8;
      margin-left: $spacer;
    }


    h3 {
      @extend .t3;
      @extend .title-font;
      padding: $spacer;
      text-transform: uppercase;
      font-weight: 200;
      color: $white;
      border-left: solid 4px $azure_light;
      display: block;
    }



    p {
      padding-left: $entry_indent/2+9px;
      padding-right: $entry_indent/2+9px;
    }


  }
}

/**
=============== vtabs
 */
.v-tabs-items-list{
  margin: 0;
  padding: 0;
  list-style: none;

  li{
    cursor: pointer;
    display: block;
    border-bottom: solid 1px $white;
    opacity: 0.7;
    transition: all 0.4s;
    padding-bottom: 2px;
    span{
      @extend .t3;
      @extend .title-font;
      font-weight: 200;
      display: inline-block;
      padding: $spacer*1.5 0 #{$spacer*1.5 - 4px}  0;
      border-bottom: solid 4px rgba($azure_light,0);
      transform: scale(75%);
      transform-origin: left bottom;
      transition: all 0.4s;
    }

    &.active{
      margin-right: -$spacer*4;
      opacity: 1;
      span{
        transform: scale(100%);
        border-bottom: solid 4px rgba($azure_light,1);
      }
    }
  }

}
.v-tabs-items-content{
  svg {
    fill: $azure_light;
    width: 100%;
    height: auto;
    opacity: 0.5;
  }
  h1{
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 10;
  }
}
/**
  ====
   */
/**
1
2
3
4
5
6
7
<div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
<div style="align-self: stretch; padding-left: 65px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
<div style="flex: 1 1 0; color: #ACD1E9; font-size: 18px; font-family: PP Monument Extended; font-weight: 800; word-wrap: break-word">iPerformX proudly present</div>
</div>
<div style="width: 60px; height: 0px; outline: 1px white solid; outline-offset: -0.50px"></div>
<div style="width: 274px; height: 0px; opacity: 0.50; outline: 1px #ACD1E9 solid; outline-offset: -0.50px"></div>
</div>
 */


.title-animated {
  /* Stile base del titolo */
  line-height: 1.2;
  letter-spacing: -0.02em;
  overflow: hidden;
  position: relative;
  font-family: 'PP Monument Extended', 'sans-serif';
  //padding: 30px 0;
}

.title-char {
  /* Contenitore per ogni carattere */
  margin-right: 0.01em; /* Piccolo spazio tra i caratteri */
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.title-letter {
  /* Stile delle lettere */
  display: inline-block;
  min-width: 0.2em; /* Gestisce meglio gli spazi */
  white-space: pre; /* Mantiene gli spazi */

  position: relative;
  z-index: 10;
}

.title-block {
  /* Stile del blocco bianco */
  transform-origin: left center;
  will-change: transform; /* Ottimizza le performance dell'animazione */

  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 100%;
  background-color: white;
}

/* Gestisce gli spazi bianchi */
.title-char:has(> .title-letter:empty) {
  width: 0.3em;
}


